body {
  background-color: #210e08;
  background-image: url("images/coffee.jpg");
  background-repeat: repeat;
}

.center {
  padding: 15px;
  border-style: solid; 
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.last {
  padding: 15px;
  border-style: solid; 
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

body {
  font-family: "Comic Sans MS";
  background-color: #210e08;
  color: floralwhite;
}

.title {
  color: white;
  text-align: center;
  font-size: 26px;
}

input[type=submit] {
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  color: floralwhite;
  text-align: center;
  font-size: 16px;
  padding: 10px 16px;
  font-family: "Comic Sans MS";
}

input[type=submit]:hover {
  background-color: #9A8373;
}

.button {
  text-align: center;
  padding: 15px;
}